body {
  background-image: url('images/background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; #100% 100%;
}

.no-display {
    display: none;
}

.main-container {
    background: green;
    display: flex;
    justify-content: center;
}

.form-container {
    display: flex;
    justify-content: center;
}

.sub-container {
    display: inline-block;
    margin: 0 1.5%;
}

.add {
    display: flex;
    border: 4px dashed #fff;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    color: #fff;
    border-radius: 4px;
}

.dim-img {
    height: 30vmax;
    width: 30vmax;
    width-min: 256px;
}

.segmap-tmp {
    height:auto;
    max-height: 30vmax;
    width:auto;
    max-width: 30vmax;
}

#icon-segmap:after {
    content: '\270E\25B2'; #039B 2206 22C0 25B3  25CF
    font-size: 70px;
}

.style {
    height: 12vmax;
    width: 20vmax;
    margin: 2% 0;
}

.style-tmp {
    height:auto;
    max-height: 12vmax;
    width:auto;
    max-width: 20vmax;
    margin: 2% 0;
}

.base {
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#icon-synimg:after {
    content: '\26F0';
    font-size: 50px;
}

.compute-container {
    height: 18vmax;
    width: 20vmax;
    background-color: coral;
    display: flex;
    justify-content: center;
    align-items: center;
}

.compute-photo {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 6vmax;
    font-weight: bold;
    padding:1%;
    color: #4CAF50;
    height:6vmax;
    width:6vmax;
    border-radius: 20%;
    border-style: solid;
    border-color: #4CAF50;
}

.compute-photo:hover {
    background-color: #e7ffe1;
}

#icon-arrow:after {
    content: '\2192';
}


/*
    DISPLAY TEXT - https://www.w3docs.com/snippets/css/how-to-display-an-animated-text-over-an-image-on-hover-using-only-css3.html
*/
.display-text {
    position: relative;
    padding: 0;
    cursor: pointer;
    overflow: hidden;
}
/*
    Display segmentation map text
*/
.content-segmap {
    opacity: 0;
    font-size: 2.5vmax;
    position: absolute;
    top: 0;
    left: 0;
    color: white; # #1c87c9;
    background-color: rgba(200, 200, 200, 0.5);
    height: 30vmax;
    width: 30vmax;
    width-min: 256px;
    -webkit-transition: all 400ms ease-out;
    -moz-transition: all 400ms ease-out;
    -o-transition: all 400ms ease-out;
    -ms-transition: all 400ms ease-out;
    transition: all 400ms ease-out;
    text-align: center;
}
.display-text .content-segmap:hover {
    opacity: 1;
}
.display-text .content-segmap .text {
    height: 0;
    opacity: 1;
    transition-delay: 0s;
    transition-duration: 0.4s;
}
.display-text .content-segmap:hover .text {
    opacity: 1;
    transform: translateY(20vmax);
    -webkit-transform: translateY(20vmax);
}
/*
    Display style image text
*/
.content-style {
    opacity: 0;
    font-size: 1.5vmax;
    position: absolute;
    top: 0;
    left: 0;
    color: white; # #1c87c9;
    background-color: rgba(200, 200, 200, 0.5);
    height: 12vmax;
    width: 20vmax;
    -webkit-transition: all 400ms ease-out;
    -moz-transition: all 400ms ease-out;
    -o-transition: all 400ms ease-out;
    -ms-transition: all 400ms ease-out;
    transition: all 400ms ease-out;
    text-align: center;
}
.display-text .content-style:hover {
    opacity: 1;
}
.display-text .content-style .text {
    height: 0;
    opacity: 1;
    transition-delay: 0s;
    transition-duration: 0.4s;
}
.display-text .content-style:hover .text {
    opacity: 1;
    transform: translateY(8vmax);
    -webkit-transform: translateY(8vmax);
}

@media(max-width: 730px) {
    .main-container {
        flex-direction: column;
        align-items: center;
    }

    .form-container {
        flex-direction: column;
        align-items: center;
    }

    .dim-img {
        height: 90vmin;
        width: 90vmin;
        margin: 2% 0;
    }

    .segmap-tmp {
        max-height: 90vmin;
        max-width: 90vmin;
    }


    .style {
        height: 50vmin;
        width: 60vmin;
        margin: 2% 20vmin;
    }

    .style-tmp {
        max-height: 50vmin;
        max-width: 60vmin;
        margin: 2% 20vmin;
    }

    .compute-container {
        width: 100%;
    }

    .compute-photo {
        font-size: 10vmax;
        height:10vmax;
        width:10vmax;
    }

    #icon-arrow:after {
        content: '\2193';
    }


    /**
     *
     */
    .content-segmap {
        font-size: 5vmin;
        height: 90vmin;
        width: 90vmin;
    }
    .display-text .content-segmap:hover .text {
        opacity: 1;
        transform: translateY(75vmin);
        -webkit-transform: translateY(75vmin);
    }

    .content-style {
        font-size: 4vmin;
        height: 50vmin;
        width: 60vmin;
    }
    .display-text .content-style:hover .text {
        opacity: 1;
        transform: translateY(40vmin);
        -webkit-transform: translateY(40vmin);
    }

}
