body {
  background-image: url('images/background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; #100% 100%;
}

.main-container {
    background: green;
    display: flex;
    justify-content: center;
}

.sub-container {
    display: inline-block;
    margin: 0 1.5%;
}

.add {
    display: flex;
    border: 4px dashed #fff;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    color: #fff;
    border-radius: 4px;
}
.add:hover {
    background: rgba(255, 255, 255, 0.17);
}

.add-new {
    display: none;
}

.submit {
    margin: 2% 0;
}

.dim-img {
    height: 30vmax;
    width: 30vmax;
    width-min: 256px;
}

.segmap-tmp {
    width: 30vmax;
}

#icon-segmap:after {
    content: '\270E\25B2'; #039B 2206 22C0 25B3  25CF
    font-size: 70px;
}

.style {
    height: 12vmax;
    width: 20vmax;
    margin: 2% 0;
}

.style-tmp {
    width: 10vmax;
    margin: 2% 0;
}

.base {
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-synimg:after {
    content: '\26F0';
    font-size: 50px;
}

#fill-space {
    height:50px;
    width:50px;
    background: blue;
}

#right-arrow {
    height: 18vmax;
    width: 20vmax;
    background-color: coral;
    display: flex;
    justify-content: center;
    align-items: center;
}

#down-arrow {
    display: None;
}

.compute-photo {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  padding:1%;
  color: #4CAF50;
  height:60px;
  width:60px;
  border-radius: 20%;
  border-style: solid;
  border-color: #4CAF50;
}

@media(max-width: 730px) {
    .main-container {
        flex-direction: column;
        align-items: center;
    }

    .form-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .dim-img {
        height: 90vmin;
        width: 90vmin;
        margin: 2% 0;
    }

    .segmap-tmp {
        width: 90vmin;
    }


    .style {
        height: 50vmin;
        width: 60vmin;
        margin: 2% 20vmin;
    }

    .style-tmp {
        width: 60vmin;
        margin: 2% 20vmin;
    }


    #right-arrow {
        display:None
    }

    #down-arrow {
        width: 100%;
        background-color: coral;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
