body {
  background-image: url('images/background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; #100% 100%;
}

#add-segmap {
    display: flex;
    border: 4px dashed #fff;
    height: 25%;
    min-height: 400px;
    width:25%;
    min-width: 400px;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    color: #fff;
    border-radius: 4px;
}
#add-segmap:hover {
    background: rgba(255, 255, 255, 0.17);
}

#add-new-segmap {
    display: none;
}

#segmap {
    height: 25%;
    min-height: 400px;
    width:25%;
    min-width: 400px;
}