<!DOCTYPE html>
{% extends "layout.html" %}

{% block body %}
  <body>
{% endblock%}


{% block content %}

<h1>Demo</h1>

<p>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <p>{{ message }}</p>
        {% endfor %}
      {% endif %}
    {% endwith %}
</p>


<div class="main-container">

    <form class="form-container" action="/demo" method="POST" enctype="multipart/form-data" name="form-data">
        <div class="sub-container">
<!--
            <div class="example">
-->
            <div class="add dim-img display-text" id="add-segmap">
                <span id="span-segmap"><i id="icon-segmap"></i></span>

                <div class="content-segmap">
                    <div class="text">Click to upload segmentation map.</div>
                </div>
            </div>

            <input type="file" class="no-display" id="add-new-segmap" name="file_segmap">
        </div>

        <div class="sub-container">
            <div class="add style display-text" id="add-style">
                <span id="span-style"><i class="fa fa-camera" style="font-size:36px"></i></span>

                <div class="content-style">
                    <div class="text">Click to upload style image.</div>
                </div>
            </div>
            <input type="file" class="no-display" id="add-new-style" name="file_style">

            <div class="compute-container">
                <button type="button" class="compute-photo" onclick="compute_fake_img()" data-toggle="tooltip" data-placement="bottom" title="Generate image">
                   <i id="icon-arrow"></i>
                </button>
            </div>
        </div>
    </form>

    <div class="sub-container">
        <div class="base dim-img">
            <span id="fake-img"><i id="icon-synimg"></i></span>
        </div>
    </div>
</div>

<!-- SCRIPTS -->
<script src="{{url_for('static', filename='js/main.js')}}"></script>
{% endblock %}
