<!DOCTYPE html>
{% extends "layout.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/version2.css') }}">

<link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">

<script src='https://kit.fontawesome.com/a076d05399.js'></script>
{% endblock %}

{% block body %}
  <body onload="pencil()">
{% endblock%}

{% block content %}

<h1>Demo</h1>

<p>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <p>{{ message }}</p>
        {% endfor %}
      {% endif %}
    {% endwith %}
</p>


<div class="main-container">
    <div class="sub-container item-container">
        <div class="inline">
            <hr class="line">
            <p style="margin:0; padding: 0 7%">Tools</p>
            <hr class="dotted-line">
            <div class="items">
                <!-- Eyedropper -->
                <button id="bucket-fill-tool" class="paint-button tool" type="button" onclick="eyedropper()"
                        data-toggle="tooltip" data-placement="bottom" title="Eyedropper">
                    <i class="fa fa-eyedropper"></i>
                </button>
                <!-- Bucket fill -->
                <button id="bucket-fill-tool" class="paint-button tool" type="button" onclick="bucket_fill()"
                        data-toggle="tooltip" data-placement="bottom" title="Bucket fill">
                    <i class="las la-fill-drip icon"></i>
                </button>
                <!-- Pencil -->
                <button id="pencil-tool" class="paint-button tool" type="button" onclick="pencil()"
                        data-toggle="tooltip" data-placement="bottom" title="Pencil">
                    <i class="fas fa-pencil-alt"></i>
                </button>
            </div>
            <hr class="dashed-line">
            <div class="items">
                <!-- Line -->
                <button id="line-tool" class="paint-button tool" type="button" onclick="line()"
                        data-toggle="tooltip" data-placement="bottom" title="Line">
                    <i class="fas fa-slash icon2"></i>
                </button>
                <!-- Rectangle -->
                <button id="rectangle-tool" class="paint-button tool" type="button" onclick="rectangle()"
                        data-toggle="tooltip" data-placement="bottom" title="Rectangle">
                    <i class="icon">&#x25A0;</i>
                </button>
                <!-- Circle -->
                <button id="circle-tool" class="paint-button tool" type="button" onclick="circle()"
                        data-toggle="tooltip" data-placement="bottom" title="Circle">
                    <i class="icon">&#x25CF;</i>
                </button>
            </div>

            <hr class="line">
            <p style="margin:0; padding: 0 7%">Stroke width</p>
            <hr class="dotted-line">
            <div class="items">
                <input type="number" id="stroke_width" value="1" min="1" onclick="change_width(this.value)">
            </div>

            <hr class="line">
            <p style="margin:0; padding: 0 7%; display: inline-block">Colors</p>
            <p id="color-selected"></p>
            <hr class="dotted-line">
            <div class="items">
                <button id="1" class="circle-button red" type="button" onclick="change_color('red')"/>
                <button id="2" class="circle-button blue" type="button" onclick="change_color('blue')"/>
                <button id="3" class="circle-button green" type="button" onclick="change_color('green')"/>
            </div>

            <hr class="line">
            <hr class="line">
            <div class="items">
                <!-- Download -->
                <button id="download-tool" class="paint-button" type="button" onclick="download()"
                        data-toggle="tooltip" data-placement="bottom" title="Download">
                    <i class="fa fa-download"></i>
                </button>
                <div class="vl"></div>
                <!-- Undo -->
                <button id="undo-tool" class="paint-button" type="button" onclick="undo()"
                        data-toggle="tooltip" data-placement="bottom" title="Undo">
                    <i class="fas fa-undo-alt"></i>
                </button>
                <div class="vl"></div>
                <!-- Undo -->
                <button id="clear-tool" class="paint-button" type="button" onclick="clear_canvas()"
                        data-toggle="tooltip" data-placement="bottom" title="Clear canvas">
                    <i class="far fa-window-close"></i>
                </button>
            </div>
            <hr class="line">
        </div>
    </div>

    <form class="form-container" action="/demov2" method="POST" enctype="multipart/form-data" name="form-data">
        <div class="sub-container">
            <canvas id="paint-segmap" class="dim-img">
                Your browser does not support the HTML canvas tag.
            </canvas>

            <input type="hidden" id="segmap" name="file_segmap">
        </div>

        <div class="sub-container">
            <div class="add style display-text" id="add-style-v2">
                <span id="span-style-v2"><i class="fa fa-camera" style="font-size:36px"></i></span>

                <div class="content-style">
                    <div class="text">Click to upload style image.</div>
                </div>
            </div>
            <input type="file" class="no-display" id="add-new-style-v2" name="file_style">

            <div class="compute-container">
                <button type="button" class="compute-photo" onclick="compute_fake_img()" data-toggle="tooltip" data-placement="bottom" title="Generate image">
                   <i id="icon-arrow"></i>
                </button>
            </div>
        </div>
    </form>

    <div class="sub-container">
        <div class="base dim-img">
            <span id="fake-img"><i id="icon-synimg"></i></span>
        </div>
    </div>
</div>


<!-- SCRIPTS -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script src="{{url_for('static', filename='js/version2.js')}}"></script>
{% endblock %}
