{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
  <h1 class="display-4">Welcome to SeImSyn!</h1>
<!--
  <img src="prueba.jpg" width="300" height="300" alt="">
-->
  <img src="https://www.w3schools.com/images/picture.jpg" alt="Mountain" style="width:300px">
  <p class="lead">You can create photorealistic images from semantic segmentation masks, which are labeled sketches that depict the layout.</p>
  <hr class="my-4">
  <a class="btn btn-primary btn-lg" href="/demo" role="button">Launch demo</a>
</div>

{% endblock%}
